<launch>
  <include file="$(find easter_egg_hunt)/launch/jackal.launch" />
  <!-- Run the map server -->
 <arg name="map_file" default="$(find easter_egg_hunt)/maps/map.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find easter_egg_hunt)/launch/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find easter_egg_hunt)/launch/move_base.launch" />

</launch>
