<launch>
 
  <include file="$(find easter_egg_hunt)/launch/jackal.launch" />

  <node pkg="easter_egg_hunt" name="slam" type="slam.py"  output="screen" required="true"/>

  <!-- <node pkg="rosbag" type="record" name="explore_bag" args="-O $(find building_mapper)/rosbag/rosbag /scan /tf" /> -->

</launch>
