<launch>
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="base" />
  </include>

  <!-- sensors -->
  <include file="$(find easter_egg_hunt)/launch/include/sicklms.launch" />
  <include file="$(find easter_egg_hunt)/launch/include/usb_cam.launch" />

  <!-- other services -->
  <include file="$(find easter_egg_hunt)/launch/include/ar.launch" />
  <include file="$(find easter_egg_hunt)/launch/include/navigation.launch" />

  <!-- Misc. Nodes -->
  <node pkg="easter_egg_hunt" name="discovery" type="discovery.py"  output="screen" required="true"/>
</launch>
